# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.build/
.buildlog/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Platform specific files
/windows
/android
/macos
/ios
/web
/linux

# IDE related
*.iml
*.ipr
*.iws
.idea/
.atom/
.vscode/

# Editor files
*.swp
*.swo
*~
.DS_Store
.history

# Log and temporary files
*.log
*.pyc
*.class
.svn/
.swiftpm/
migrate_working_dir/

# Statistics and counter files
**/tree.txt
.VSCodeCounter/

# Metadata files (optional)
.metadata

# Symbolication and obfuscation
app.*.symbols
app.*.map.json
